/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

/* Address Container */
.address-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    margin: 5% auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.address-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

/* Section Heading */
.add-address h2, .edit-address h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #524c02;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #555;
}

form input[type="text"],
form input[type="tel"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

/* Submit Button */
.submit-btn {
    padding: 12px;
    background-color: #00cf87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn>a{
    color: white;
    text-decoration: none; 
    font-size: 1.3rem;

}

.submit-btn:hover {
    background-color: #00cf87;
}

/* Section Styling */
.add-address,
.edit-address {
    margin-bottom: 40px;
}

footer{
    height: 100%;
    width: 95vw;
    margin-left: 30px;
    background-color:rgb(245, 247, 247);
}
footer>.main{
    display: flex;
    justify-content:space-around ;
    color: rgb(152, 151, 151);
    margin-left:210px ;
    margin-right: 210px;
}
.footer>ul{
    list-style: none;
    padding: 20px;
}
.footer>ul>li{
   
    margin-bottom: 12px;
    font-size: 12px;
     
}
.footer>ul>li>h5{
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
hr{
    width: 80%;
    margin-top: 10px;
   margin-left:10%;
}
.f-line>p{
    margin-left: 465px;
    font-size: 0.8em;
    color: rgb(148, 148, 148);
   
}
.footer-menu>ol{
  list-style: none;
  margin-left:250px ;
  margin-right: 150px;
  font-size: 0.8em;
  color: rgb(148, 148, 148);
}
.footer-menu>ol>li{
    display: inline;
    padding-left: 30px;
}
.footer-menu{
    margin-left: 10px;
}
.paragraph{
    margin-left:210px ;
    margin-right: 210px;
    font-size: 0.9em;
}
  

/* Responsive Design */
@media (max-width: 600px) {
    .address-container {
        padding: 20px;
    }

    form input {
        font-size: 0.9rem;
    }

    .submit-btn {
        font-size: 0.9rem;
        padding: 10px;
    }
}
