body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: #6f6901;
    margin-top: 30px;
    text-shadow: 1px 1px 2px #000;

}



.wishlist-buttons {
    display: flex;
    gap: 10px;
    margin: 20px ;
}

.add-to-cart-btn, .remove-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
}

.add-to-cart-btn>a {
    color: white;
    text-decoration: none;
}
.add-to-cart-btn:hover {
    background-color: #218838;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
}

.remove-btn:hover {
    background-color: #c82333;
}



.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin:4% auto;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    color: #ff5722;
    margin-bottom: 10px;
}

.discount {
    font-size: 14px;
    color: #007bff;
}

.free-delivery {
    font-size: 14px;
    color: green;
}

.reviews {
    margin-top: 10px;
    font-size: 12px;
}

.rating {
    color: #ffcc00;
    font-weight: bold;
}


footer{
    height: 100%;
    width: 95vw;
    margin-left: 30px;
    background-color:rgb(245, 247, 247);
}
footer>.main{
    display: flex;
    justify-content:space-around ;
    color: rgb(152, 151, 151);
    margin-left:210px ;
    margin-right: 210px;
}
.footer>ul{
    list-style: none;
    padding: 20px;
}
.footer>ul>li{
   
    margin-bottom: 12px;
    font-size: 12px;
     
}
.footer>ul>li>h5{
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
hr{
    width: 80%;
    margin-top: 10px;
   margin-left:10%;
}
.f-line>p{
    margin-left: 465px;
    font-size: 0.8em;
    color: rgb(148, 148, 148);
   
}
.footer-menu>ol{
  list-style: none;
  margin-left:250px ;
  margin-right: 150px;
  font-size: 0.8em;
  color: rgb(148, 148, 148);
}
.footer-menu>ol>li{
    display: inline;
    padding-left: 30px;
}
.footer-menu{
    margin-left: 10px;
}
.paragraph{
    margin-left:210px ;
    margin-right: 210px;
    font-size: 0.9em;
}
  